.searchbox {
  --space-x: 1.875rem;
  --space-y: 1.125rem;
  --icon-size: 1.375rem;
  --gap: 1.375rem;
  position: relative;
  max-inline-size: 480px;
  flex-grow: 1;
  font-size: 0.875rem;
  border-radius: 9999px; 
  overflow: hidden;
}

.searchbox > :first-child,
.searchbox > :last-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--icon-size);
  height: var(--icon-size);
}

.searchbox > :first-child {
  left: var(--space-x);
}

.searchbox > :last-child {
  right: var(--space-x);
}

.searchbox > :last-child svg {
  transform: translateY(-1px); 
}

.searchbox input {
  letter-spacing: calc(0.14 / 16 * 1rem);
  padding-left: calc(var(--icon-size) + var(--space-x) + var(--gap, var(--space-y)));
  padding-right: calc(var(--icon-size) + var(--space-x) + 0.5rem);
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  border-radius: 9999px;
}

.searchbox input::placeholder {
  color: #A0AEC0; 
}

.searchbox input:placeholder-shown + button {
  visibility: hidden;
}