.country {
  --v-gutter: calc((16 / 16 * 1rem) + (120 - 16) * var(--fluid-bp));
  --h-gutter: calc(1rem + (48 - 16) * var(--fluid-bp));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--v-gutter);
  row-gap: var(--h-gutter);
}

.country > * {
  flex-grow: 1;
  max-inline-size: 560px;
}

.country .flag {
  flex-basis: 70%;
  @apply shadow-sm;
}

.country .flag > img {
  inline-size: 100%;
}

.country .content {
  --flow-space: var(--h-gutter);
  flex-basis: 30%;
}

.country .infolines {
  --flow-space: 0.5rem;
}

.country .content > :first-child {
  font-size: calc(32 / 16 * 1rem);
  @apply leading-tight;
}