body {
  --wrapper-max-width: 1280px;
  --gutter: calc(24 / 16 * 1rem + (80 - 24) * var(--fluid-bp));
  font-family: 'Nunito Sans', system-ui, sans-serif;
  @apply font-light text-dark-shade bg-light dark:bg-dark dark:text-white;
}

input,
select {
  @apply rounded-md bg-white dark:bg-dark-tint;
  padding: var(--space-y, 1.125rem) var(--space-x, 1.5rem);
  inline-size: 100%;
  appearance: none;
  box-shadow:
    0 0 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

input[type='search'] {
  -webkit-appearance: none;
}

input::placeholder {
  @apply text-light-shade dark:text-inherit;
}

h1,
h2,
h3,
h4 {
  @apply font-extrabold;
}

h1 {
  @apply text-2xl tracking-tight leading-tight;
}

main {
  --flow-space: 3rem;
  @apply pt-12 pb-28;
}

:focus-visible {
  outline-offset: 2px;
  outline: 0.25rem solid orange;
}